
.link {
    width: 90%;
}

.Card-wrapper {
    // display: flex;
    // flex-direction: column;
}

.cardflip-button{
    background-color: white;
    width: 75px;
    height: 25px;

}

.CardFront {
    box-shadow: 0 1.5rem 4rem rgba(black, .35);
    width: 30vw;
    height: 60vh;

    &-div1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-type {
            padding: 0;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 14px;
            font-weight: 300;
        }

        &-title {
            margin-top: 0;
        }

        &-list {
            list-style: none;
            //border: 1px solid red;
            margin-top: .5rem;
            width: 40%;


            & p {
                margin-top: 0;
                margin-bottom: 0;
                border-bottom: 1px solid gray;
            }

        }

        &-gif {
            width: 14rem;
            height: 8.5rem;
        }
    }
}

.CardBack {
    box-shadow: 0 1.5rem 4rem rgba(black, .35);
    width: 30vw;
    height: 60vh;
}

.Projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}