@media only screen and (min-width: 1000px) {

    .Footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &-about {
            width: 40%;
            max-width: 500px;
        }

        &-icons {
           flex-direction: column;
           color: white;
           width: 40%;
           max-width: 500px;
            
            

            &-span{

                &-h2{
                    width: 250px;
                    display: block;
                }
            }
        }
    }
}