.Technologies-wrapper {
    margin-top: 5rem;
}


.Technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    &-div1{
       display: flex;
       flex-direction: column;
       padding: 1rem;
       

        &-img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            box-shadow: 0 1.5rem 4rem rgba(black, .35);
    
            // &:hover {
            //     width: 10rem;
            //     height: 10rem;
            // }
        }

        &-name {
        }

    }

    
}