.Header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    background-color: #191A1D;
    color: white;

    &-div1{

    }

    &-div2{
        margin-left: 1rem;
        display: flex;

        &__About {

            &:hover{
                cursor: pointer;
            }
        }
        &__Skills {

            &:hover{
                cursor: pointer;
            }
        }
        &__Projects {

            &:hover{
                cursor: pointer;
            }
        }
    }
}



.margin-right {
    margin-right: 1rem;
}