

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    background-color: #191A1D;
    margin-top: 50px;
    overflow: hidden;

    &-about {

    }

    &-icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-icon {
            transform: scale(1);
            margin: 1.5rem;
            color: #4B6CC1;
            // display: flex;
            // text-decoration: none;

            &-a{
                text-decoration: none;
            }
        }

        &-span {
            display: flex;

            &-h2{
                display: none;
                color: white !important;
            }
        }
    }
}

